*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
#navbar{
    position: sticky;
    height: 100px;
    box-shadow: 4px 5px 10px grey;
}
ul{
    display: flex
    
}
ul li{
    list-style: none;
    padding: 20px;
    margin-top: -60px;
}
ul li a{
    text-decoration: none;
    color: black;
    font-weight: bold;
    
    
}
.btn1{
    float: right;
    margin-top: -75px;
    margin-right: 60px;
    border-radius: 4px;
}
button{
    background-color: rgb(247, 55, 55);
    color: rgb(238, 236, 236);
    width: 185px;
    height: 55px;
    font-weight: bold;
    margin-top: 20px;
    margin-left: 55px;
    border: 2px solid rgb(240, 34, 34);
    transition: color 0.4s linear;
    cursor: pointer;
    position: relative;
}
button:hover{
    color: black;
}

button:hover::before{
    transform: scaleZ(1);
}
.content{
    height: 650px;
    background-color: rgb(230, 230, 230);
    box-shadow: 4px 5px 10px grey;

}
.main_image{
    float: right;
    height: 630px;
    width: 800px;
   margin-top: -540px;
}
.main{
    padding-top: 100px;
    padding-left: 100px;
}

#services {
    /* border: 3px solid black; */
    width: 98%;
    height: 500px;
    display: grid;
    grid-template-areas: "html css javascript";
    grid-gap: 4rem;
  }
  .box {
    border: 1px solid grey;
    width: 350px;
    height: 400px;
    padding: 40px;
    margin-top: 40px;
    background: transparent; 
    border-radius: 15px;
    font-size: 17px;
  }
  .img {
    /* width: 180px; */
    height: 80px;
    padding-left: 100px;
    padding-top: 17px;
  }
  .h-secondary{
    margin-top: 50px;
  }
  .center {
    text-align: center;
  }
  #box1 {
    grid-area: html;
    margin-left: 120px;
  }
  #box2 {
    grid-area: css;
  }
  #box3 {
    grid-area: javascript;
  }

